.SectionAct {
    margin: 0 auto;
    max-width: 93%;
}

.SectionAct h2 {
    padding: 45px 0px 25px 0px;
}

.Activities {
    display: flex;
    justify-content: space-between;
}

.SectionAct article{
    object-fit: cover;
}

.cardsAct img {
    border-radius: 20px 20px 0 0;
    max-width: 100%;
    height: 388px;
    object-fit: cover;
}

.PomeguesFrioul{
    padding-right: 40px;
    padding-left: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#pomegues img{
    height: 180px;
    width: 100%;
}

#frioul img{
    height: 118px;
    width: 100%;
}

.NotreParc{
    padding-left: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#notre_dame img{
    height: 118px;
    width: 100%;
    object-position: 15% 15%;
}

#longchamps img{
    height: 180px;
    width: 100%;
    object-position: 70% 15%;
}
.cardsAct {
    box-shadow: 3px 3px 3px #cbc2c2;
    max-width: 100%;
}

.SectionAct figcaption {
    padding: 14px 0 14px 10px;
}
